# Exploratory Data Analysis - Patient, consommant et hospitalisation

In [8]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import seaborn as sns

In [3]:
patient=pd.read_csv("patient_anonyme.csv")

In [7]:
patient

,date_h0,ALD_before,y_nais,BEN_RES_DPT,BEN_SEX_COD,dte_deces,CODE_PATIENT,Mort,Nb_survie
0,2011-11-22,0,1949,11,1,NaN,P0,False,2596
1,2013-12-05,0,1929,14,2,2015-03,P6,True,456
2,2015-07-02,0,1967,54,2,2015-08,P8,True,41
3,2011-05-19,0,1959,974,1,NaN,P13,False,2783
4,2010-03-18,0,1947,76,1,NaN,P16,False,3210
...,...,...,...,...,...,...,...,...,...
10047,2014-02-08,0,1920,29,1,2014-12,P24302,True,318
10048,2012-02-09,0,1927,61,1,2017-05,P24303,True,1924
10049,2010-07-27,0,1924,999,1,2010-08,P24304,True,5
10050,2011-11-25,0,1925,13,2,2013-03,P24308,True,484
10051,2010-12-18,0,1941,81,2,NaN,P24310,False,2935